/* Examples */

#acme::before {
  color: white;
  content: "\f2d9";
  padding-right: 0.5em;
  font-family: "FontAwesome";
}

#dashboard a {
  text-decoration: none;
}

#dashboard i {
  color: lightsteelblue;
  padding-right: 0.5em;
}

#dashboard a:hover, #dashboard a:active, #dashboard a:focus {
  color: cornflowerblue;
}

#product::before {
  color: black;
  content: "\f1b3";
  padding-right: 0.5em;
  font-family: "FontAwesome";
}
